<div class='container' id='main'>
  <div class='main-heading'>
    <h1>parakeet</h1>

    <ul class='nav nav-pills nav-justified'>
      <li class='active'><a href="#" data-toggle='tab'>TWEETS</a></li>
      <li><a href="#" data-toggle='tab'>INTERSECTION</a></li>
    </ul>
  </div>

  <div class='main-content'>
  </div>
</div>