body, html {
  height: 100%;
  width: 100%;
  color: #333;
}

body {
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(192, 222, 237);
}

#main {
  margin-top: 40px;
  border: 1px solid rgba(127, 173, 195, 0.36);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  min-height: 88%;
  width: 50%;
  margin-bottom: 40px;
}

.main-heading {
  text-align: center;
}

.center {
  text-align: center;
}

.main-heading > h1 {
  font-size: 4em;
  color: #333;
}

.main-nav {
  text-align: center;
}

.main-heading > ul {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
}

.btn-root {
  margin: 30px 5px;
  width: 40%;
  height: 60px;
  font-size: 1.5em;
}

form {
  width: 80%;
  margin: 10px auto;
  font-size: 1.5em;
}

.username-input {
  height: 100px;
  font-size: 1.5em;
}

.user-information {
  text-align: center;
  margin-bottom: 50px;
}

.user-information > h1 {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 5px;
}

.user-tweets {
  list-style: none;
  padding: 0;
}

.user-tweet {
  font-size: 1.2em;
  margin-top: 10px;
  padding: 10px 15px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  background-color: #fff;
  color: #555;
  font-weight: 200;
}

.user-tweet:hover {
  background-color: rgba(255, 255, 255, 0.74);
}

.user-tweets > a:hover {
  text-decoration: none;
}

.tweet-info {
  margin-top: 4px;
  font-size: 0.9em;
}

.mutual-input {
  height: 70px;
  font-size: 1.3em;
}

.mutual-follow-users {
  font-size: 1.5em;
  margin: 10px;
  display: inline;
}

.followers {
  margin-top: 50px;
}

.users {
  text-align: center;
}

.mutual-follows {
  margin-top: 40px;
}

.mutual-follows h3 {
  text-align: center;
}

.mutual-follows > ul {
  list-style: none;
}

.mutual-follows > li {
  font-size: 1.2em;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}