<h1>Welcome to Parakeet!</h1>

<div class='root-info'>
  <p>Parakeet, a basic Twitter client, was built by <a href='http://roberthonsby.com'>Robert Honsby</a>.</p>

  <p>Check the most recent Tweets of any user or see if any two people follow the same people!</p>

  <p>The repository for this project can be found <a href='http://github.com/rhonsby/parakeet'>here</a>.</p>
</div>