<form id='mutual-follows-form'>
  <div class='form-group'>
    <input type='text' name='user[user_one]' id='user_one'
           class='form-control mutual-input'
           placeholder='User One' required>
  </div>

  <div class='form-group'>
    <input type='text' name='user[user_two]' id='user_two'
           class='form-control mutual-input'
           placeholder='User Two' required>
  </div>

  <button type='submit' class='btn btn-default btn-lg btn-block'>Compare!</button>
</form>

<div class='follows'>
</div>