<form>
  <div class='form-group'>
    <label for='user_username'>Twitter Handle</label>
    <input type='text' name='user[username]' id='user_username'
           class='form-control username-input' required>
  </div>
</form>