<form>
  <div class='form-group'>
    <input type='text' name='user[username]' id='user_username'
           class='form-control username-input'
           placeholder='Twitter handle (case-sensitive)' required>
  </div>
</form>